APSEngine/src/main/java/elen7045/group5/project/wsa/municipality.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="scrape-session">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:anyURI" name="base-url"/>
        <xs:element type="xs:date" name="date"/>
        <xs:element type="xs:time" name="time"/>
        <xs:element name="datapair" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="text"/>
              <xs:element type="xs:string" name="value"/>
            </xs:sequence>
            <xs:attribute type="xs:integer" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
   </xs:element>
</xs:schema>